<div fxFlex="100" fxLayout="column">
  <div class="header">
    <mat-card class="card">
      <mat-card-content class="cardContent">
        <div class="sidebarToggleBtn">
          <mat-icon (click)="toggleSidebar()" class="sidebarBtnToggle">menu</mat-icon>
        </div>
        <div class="HeaderText">
          <h2>BBYTerminal</h2>
        </div>
        <div class="HeaderDatepicker">
          <mat-form-field class="startDatePicker" appearance="none">
            <mat-label>Startdatum</mat-label>
            <input matInput [disabled]="true" [matDatepicker]="startDate" (dateChange)="startDateChange($event)" [formControl]="startDateDefault">
            <mat-datepicker-toggle matSuffix [for]="startDate" [disabled]="false"></mat-datepicker-toggle>
            <mat-datepicker #startDate [disabled]="false" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="startDatePicker" appearance="none">
            <mat-label>Enddatum</mat-label>
            <input matInput [disabled]="true" [matDatepicker]="endDate" (dateChange)="endDateChange($event)" [formControl]="endDateDefault">
            <mat-datepicker-toggle matSuffix [for]="endDate" [disabled]="false"></mat-datepicker-toggle>
            <mat-datepicker #endDate [disabled]="false" [startAt]="endDate"></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
