.DashboardContainer{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    background: rgba(0, 200, 250, 0.3);
    border: 1px solid #000000;
    min-width: 100%;
}

.card{
    display: flex;
    flex-basis: 100%;
    padding: 0px;
    background: rgba(0, 200, 250, 0.3);
}

.cardContent{
    display: flex;
    flex-basis: 100%;
}

.sidebarToggleBtn{
    display: flex;
    flex-basis: 25%;
    justify-content: start;
    align-items: center;
    margin-left: 12px;
}

.sidebarBtnToggle{
    cursor: pointer;
}

.HeaderText{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
}

.HeaderDatepicker{
    display: flex;
    flex-basis: 25%;
    justify-content: end;
    align-items: center;
    margin-right: 12px;
}

.startDatePicker{
    margin-right: 60px;
    display: flex;
    min-height: 100%;
}

.endDatePicker{
    margin-right: 12px;
    display: flex;
    min-height: 100%;
}

::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0px;
}

::ng-deep .mat-form-field-flex{
    align-items: center !important;
    min-height: 100%;
}

::ng-deep .mat-form-field-infix {
    width: 80px !important;
}

.mainPage{
    min-height: 100%;
}

.sidebarBtn{
    padding: 12px 12px 0px 12px;
    cursor: pointer;
}

.Sidebar{
    background: rgba(0, 200, 250, 0.3);
    border: 1px solid #000000;
    min-height: 100%;
}