<div class="DashboardContainer">
  <div class="header">
    <mat-card class="card">
      <mat-card-content class="cardContent">
        <div class="sidebarToggleBtn">
          <mat-icon (click)="toggleSidebar()" class="sidebarBtnToggle">menu</mat-icon>
        </div>
        <div class="HeaderText">
          <h2>Schlaf</h2>
        </div>
        <div class="HeaderDatepicker">
          <mat-form-field class="startDatePicker" appearance="none">
            <mat-label>Startdatum</mat-label>
            <input matInput [disabled]="true" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="false"></mat-datepicker-toggle>
            <mat-datepicker #picker [disabled]="false"></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="startDatePicker" appearance="none">
            <mat-label>Enddatum</mat-label>
            <input matInput [disabled]="true" [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2" [disabled]="false"></mat-datepicker-toggle>
            <mat-datepicker #picker2 [disabled]="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mainPage" fxFlex="100" fxLayout="row">
    <div class="Sidebar" fxFlex="10" fxLayout="column" *ngIf="sideBarOpen">
        <div fxLayout="row" fxLayoutAlign="center center" (click)="moveToDashboard()" class="sidebarBtn">
          <div fxFlex="30"><mat-icon>dashboard</mat-icon></div>
          <div fxFlex="70"><span>Dashboard</span></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" (click)="moveToAppointments()" class="sidebarBtn">
          <div fxFlex="30"><mat-icon>date_range</mat-icon></div>
          <div fxFlex="70"><span>Arzttermine</span></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" (click)="moveToSize()" class="sidebarBtn">
          <div fxFlex="30"><mat-icon>straighten</mat-icon></div>
          <div fxFlex="70"><span>Größe</span></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" (click)="moveToWeight()" class="sidebarBtn">
          <div fxFlex="30"><mat-icon>timeline</mat-icon></div>
          <div fxFlex="70"><span>Gewicht</span></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" (click)="moveToDiapers()" class="sidebarBtn">
          <div fxFlex="30"><mat-icon>wc</mat-icon></div>
          <div fxFlex="70"><span>Windeln</span></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" (click)="moveToFood()" class="sidebarBtn">
          <div fxFlex="30"><mat-icon>restaurant</mat-icon></div>
          <div fxFlex="70"><span>Essen</span></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" (click)="moveToSleep()" class="sidebarBtn">
          <div fxFlex="30"><mat-icon>hotel</mat-icon></div>
          <div fxFlex="70"><span>Schlaf</span></div>
        </div>
    </div>
  </div>
</div>