.startDatePicker{
    margin-right: 12px;
    display: flex;
    min-height: 100%;
    width: 100%;
}

.minCard {
    min-width: 35em;
    min-height: 15em;
}
 
::ng-deep .custom-container .mat-mdc-dialog-container .mdc-dialog__container .mat-mdc-dialog-surface.mdc-dialog__surface {
    border-radius: 4px !important;
}
 
.borderRadius {
    border-radius: 4px !important;
}

.inputLabel{
    margin-bottom: 0px;
}

.customInput{
    width: 100%;
}

::ng-deep .mat-form-field-infix{
    border-top-width: 0px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    width: 100%;
}

.inputLabelTime{
    margin-bottom: -16px;
}