<div class="minCard" fxLayout="column">
    <div fxFlex="1 1 25">
        <h1>Termin Löschen</h1>
    </div>
    <div fxFlex="1 1 25">
        <span>Möchten Sie den Termin:&nbsp;</span> <b> {{data.name}} </b> <span>&nbsp;wirklich löschen?</span> 
        <!-- <h1 fxLayoutAlign="center center" style="font-size: large;"><b>{{data.name}} Wirklich löschen?</b></h1> -->
    </div>
    <div fxFlex="1 1 50" fxLayoutAlign="end">
        <div fxFlex="1 1 100" fxLayout="row" fxLayoutAlign="space-between end">
            <button fxFlex="0 0 45" class="borderRadius" mat-raised-button (click)="delete(true)" mat-button fxLayoutAlign="center center">Ja</button>
            <button fxFlex="0 0 45" class="borderRadius" mat-raised-button (click)="delete(false)" mat-button fxLayoutAlign="center center">Nein</button>
        </div>
    </div>
</div>