.mainPage{
    min-height: 100%;
}

.sidebarBtn{
    padding: 12px 12px 0px 12px;
    cursor: pointer;
}

.sidebar{
    background: rgba(0, 200, 250, 0.3);
    border: 1px solid #000000;
    min-height: 100%;
}