.contentCard{
    max-height: calc(100vh - 60.85px);
    min-height: calc(100vh - 60.85px);
}

.mainCard{
    padding: 0px;
}

.contentCardContent{
    margin: 24px !important;
}

.diaperChart{
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

.addBTN{
    margin-right: 60px;
    cursor: pointer;
    color: rgba(0, 200, 250, 1);
    height: 48px;
    width: 48px;
    font-size: 48px;
    margin-bottom: 24px;
}

.removeBTN{
    margin-left: 60px;
    cursor: pointer;
    color: rgba(0, 200, 250, 1);
    height: 48px;
    width: 48px;
    font-size: 48px;
    margin-bottom: 24px;
}