.dshbrdContainer{
    margin: 12px;
    min-width: 30%;
    min-height: 39vh;
    max-width: 33%;
    max-height: 39vh;
}

.mainCard{
    padding: 0px;
    min-height: 83vh;
}

.header{
    display: flex;
    flex-basis: 10%;
}

.card{
    display: flex;
    flex-basis: 100%;
    padding: 0px;
}

.cardContent{
    display: flex;
    flex-basis: 100%;
}

.sidebarToggleBtn{
    display: flex;
    flex-basis: 25%;
    justify-content: start;
    align-items: center;
    margin-left: 12px;
}

.sidebarBtnToggle{
    cursor: pointer;
}

.HeaderText{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;
}

.HeaderDatepicker{
    display: flex;
    flex-basis: 25%;
    justify-content: end;
    align-items: center;
    margin-right: 12px;
}

.startDatePicker{
    margin-right: 12px;
    display: flex;
    min-height: 100%;
}

::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0px;
}

::ng-deep .mat-form-field-flex{
    align-items: center !important;
    min-height: 100%;
}

.mainPage{
    min-height: 100%;
}

.sidebarBtn{
    padding: 12px 12px 0px 12px;
    cursor: pointer;
}

.Sidebar{
    background: rgba(0, 200, 250, 0.3);
    border: 1px solid #000000;
    min-height: 100%;
}

.chart{
    max-height: 100%;
    min-height: 100%;
    max-width: 100%;
    min-width: 100%;
}
.cldr{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.cldr ::ng-deep .cal-month-view{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.cldr ::ng-deep .cal-month-view .cal-days{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.cldr ::ng-deep .cal-month-view .cal-days .cal-cell-row{
    display: flex;
    align-items: stretch;
    flex-basis: 100%;
}

.cldr ::ng-deep .cal-month-view .cal-day-cell.cal-today{
    background-color: white;
}

::ng-deep .cldr{
    .cal-days {
        .ng-star-inserted{
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
        }
    }
}
// .cal-days ::ng-deep .ng-star-inserted{
//     display: flex;
//     flex-direction: column;
//     flex-basis: 100%;
// }

::ng-deep .cal-month-view .cal-day-cell{
    min-height: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-basis: 100%;

}

::ng-deep .cal-month-view .cal-cell-top{
    min-height: 0px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

::ng-deep .cal-month-view .cal-day-cell.cal-today .cal-day-number{
    font-size: 1.2em;
}

::ng-deep .cal-day-badge {
  display: none !important;
}

::ng-deep .cal-month-view .cal-event{
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 0%;
}